HEDERA_LIVE_HBAR_ENABLED=false
HEDERA_NETWORK=testnet
HEDERA_OPERATOR_ACCOUNT_ID=0.0.YOUR_OPERATOR_ACCOUNT
HEDERA_OPERATOR_PRIVATE_KEY=YOUR_OPERATOR_PRIVATE_KEY
HEDERA_OPERATOR_PRIVATE_KEY_TYPE=ECDSA
HEDERA_MAX_TRANSACTION_FEE_TINYBARS=100000000
